apiVersion: apps/v1
kind: Deployment
metadata:
  name: loan-service
  namespace: devolpment
spec:
  selector:
    matchLabels:
      app: loan-service
  replicas: 3
  template:
    metadata:
      labels:
        app: loan-service
    spec:
      containers:
      - name: loan-service
        image: navedamanat/loan-service:latest 

        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 8585

---

apiVersion: v1
kind: Service
metadata:
  name: loan-service
  namespace: devolpment
spec:
  selector:
    app: loan-service
  ports:
  - name: http
    port: 80
    protocol: TCP
    targetPort: 8585
